<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<title>Task Archives</title>
	
</head>

<body>

	<div class="container">
		
		<hr>
		<h1>Task Manager</h1>
		<hr>
		
		<table class="table table-bordered table-hover table-striped table-dark">
			<thead class="thead-dark">
				<tr>
					<th>Title</th>
					<th>Description</th>
					<th>Date</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="theTaskVariable : ${tasksArchived}">
					<td th:text="${theTaskVariable.title}"/>
					<td th:text="${theTaskVariable.description}"/>
					<td th:text="${theTaskVariable.date}" />

					
				</tr>
				
			</tbody>
		
		</table>
		
		<hr>
		<!-- Add button for creating a new task -->
		<a th:href="@{/tasks/list}">
		Back to main page
		</a>
		
	</div>

</body>

</html>